body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    width: 100%;
    margin: 0px;
}

.copy_right_footer{
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: blue;
    box-shadow: 5px 5px 38px yellow;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

canvas{
    border: 5px solid white;
    border-radius: 75px;
    box-shadow: 5px 5px 38px red;
    margin: 0px;
}